.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border: 2px solid var(--pure-white);
    color: var(--pure-white);
    background-color: transparent;
    width: 8rem;
    height: 4rem;
    font-size: 16px;
    border-radius: 18px;
    font-family: var(--buttons);
}

.button:hover {
    background-color: var(--pure-white);
    color: var(--dark-mode);
}