.container {
    width: 80%;
    padding: 10px 30px 10px 30px;
}

.percent {
    font-family: var(--headings);
    padding-bottom: 10px;
}

.progress {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
}

.progress_bar {
    width: 25%;
    background-color: #D90368;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}