.chartContainer {
    position: absolute;
    top: 75%;
    left: 36%;
    z-index: 1;
    width: 400px;
    height: 300px;
    visibility: hidden;
}

.container:hover .chartContainer {
    visibility: visible;
}

.container:hover .earth {
    opacity: 0.2;
}

.earth {
    padding: 1rem;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}