.main {
    background-color: var(--dark-mode);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: center;
    padding: 5rem;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 360px;
}

.button {
    font-family: 'silkscreen';
    border: 4px solid white;
    border-radius: 15px;
    font-size: 15px;
    background-color: transparent;
    color: white;
    width: 100%;
    height: 4rem;
    max-width: 8rem;
}

.button:hover {
    background-color: white;
    color: black;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 20rem;
}