.container {
    width: 414px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 3rem;
    background-color: var(--dark-mode);
    color: var(--pure-white)
}

.header {
    width: 300px;
    text-align: center;
}

.wordmark {
    font-family: var(--headings);
}

.tagline {
    font-family: var(--buttons);
    padding-top: 1rem;
}

.story {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.text {
    font-family: var(--body-text);
    font-size: 14px;
}

.save {
    font-family: var(--buttons);
    color: var(--golden-yellow);
}

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 130px;
    width: 300px;
    background: var(--pure-white);
    color: var(--russian-violet);
    border-radius: 15px;
    font-family: var(--buttons);
    margin-top: 1rem;
}

.heading {
    width: 200px;
    text-align: center;
}

.btns {
    display: flex;
    gap: 7rem;
}

.btn {
    color: var(--russian-violet);
    cursor: pointer;
}

.btn:hover {
    color: var(--dogwood-rose);
}

.journey {
    height: 250px;
    width: 414px;
}